.container{
    width: 250px;
    height: 425px;
    background-color:#fff;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container:hover{
    transform:scale(1.1);
}
.container img{
    width: 100%;
}
.container p{
    margin: 20px 0 15px 0;
}
.spann{
    color: #fff;
    background-color: #008512;
    padding: 5px;
    border-radius: 2px;
}
.keys span{
    width: 15px;
    height: 30px;
    background-color: #0066ff;
    color:#fff;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.keys{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 25px 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.652);
}
.countDown{
    opacity: 0.3;
}
.count{
    width: 45px;
    height: 30px;
    border: 1px solid black;
    font-size: 1.2rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}